html { 
  background:url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}







body{
  margin:0;
  padding:0;
}
#container{
 width:960px;
 margin:0 auto;	
}
#top{
 width:960px;
 height:150px;
 
}
#logo{
  width:255px;
  height:150px;
  
  float:left;
}
#menu{
   width:450px;
   height:35px;
   margin-top:55px;
   
   float:right;
   font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
   font-size:17px;
}
#menu a{
   color:#FFF;
   text-decoration:none;
   margin:10px;	
}
#menu a:hover{
	color:#eebb2c;
}  
#banner{
  width:960px;
  height:550px;
  margin-top:20px;
  margin-bottom:20px;	
}

#banner {
	position: relative;
}
#banner li {
	list-style: none;
}
#banner ul li {
	float: left;
}

#section_1{
  width:960px;
  height:300px;
  
  margin-top:20px;
  margin-bottom:20px;
  
  font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  font-size:14px;
  color:#FFF;
  text-align:justify;
  	
}
#col1{
  width:435px;
  height:260px;
  padding:20px;
  color:#FFF;
  
  float:left;
  
}
#col2{
  width:435px;
  height:260px;
  padding:20px;
  color:#FFF;
  
  float:right;
  
}
#space{
   width:960px;
   border-top:solid 1px #FFFF00;
   
   margin-top:40px;
   margin-bottom:40px;
}
#product{
  width:960px;
  height:auto;
}
#product h1{
	color:#eebb2c;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
#product p{
	color:#fff;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.product_col{
   width:960px;
   height:200px;	
   
   margin-top:20px;
   margin-bottom:20px;
}
.product_img{
	width:255px;
	height:200px;
	
	float:left;
}
.product_title{
	width:600px;
	height:200px;
	
	float:left;
	margin-left:20px;
}

#base{
   width:960px;
   height:170px;
   margin-top:20px;
   margin-bottom:20px;

}
#about{
   width:500px;
   height:170px;
   
   float:left;
   font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
   font-size:12px;
   text-align:justify;
   color:#fff;
}
#social_midia{
   width:340px;
   height:170px;
   
   float:right;
   text-align:right;
}
#social_midia img{
	width:100px;
	height:100px;
}
#social_midia img:hover{
	opacity:0.8;
}






















#form {
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
#form p{
	color:#fff;
	font-size:18px;
	margin-bottom:0;
}
#form input{
  	width:450px;
	height:35px;
}
#form input[type="submit"] {
	width:80px;
	height:35px;
}
#form textarea{
  	width:450px;
	height:350px;
}
#enviar{
    margin-left:200px;
	margin-top:20px;
}